/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:SEGMENTATION_LSTAI" {
        ext.device = "cpu"
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat" : "${params.outdir}/${meta.id}/anat" },
            mode: params.publish_dir_mode,
            enabled: params.clean_output,
            saveAs: { filename ->
                def prefix = [meta.id, meta.session, meta.run].findAll().join("_")
                if (filename.endsWith("_lesion_mask.nii.gz")) { "${prefix}_lesion_mask.nii.gz" }
                else if (filename.endsWith("_desc-annotated_mask_lesion.nii.gz")) { "${prefix}_desc-lstaiAnnotated_mask.nii.gz" }
                else if (filename.endsWith("_lesion_stats.csv")) { "${prefix}_desc-lstai_stats.csv" }
                else if (filename.endsWith("_lesion_stats_annotated.csv")) { "${prefix}_desc-lstaiAnnotated_stats.csv" }
                else { null }
            }
        ]
    }

    // FLAIR->T1w registration for the lesion mask
    withName: ".*:REGISTRATION_FLAIR_TO_T1:REGISTRATION_ANTS" {
        ext.quick = true
        ext.transform = "r"
    }

    withName: ".*:TRANSFORM_LESION_MASK_TO_T1" {
        ext.dimensionality  = 3
        ext.image_type      = 0
        ext.interpolation   = "NearestNeighbor"
        ext.output_dtype    = "uchar"
        ext.default_val     = 0
    }
}
