/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:SEGMENTATION_LSTAI" {
        ext.device = "cpu"
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat" : "${params.outdir}/${meta.id}/anat" },
            mode: params.publish_dir_mode,
            enabled: params.clean_output,
            saveAs: { filename ->
                def prefix = [meta.id, meta.session, meta.run].findAll().join("_")
                if (filename.endsWith("__mask_lesion.nii.gz")) { "${prefix}_desc-lstai_mask.nii.gz" }
                else if (filename.endsWith("__desc-annotated_mask_lesion.nii.gz")) { "${prefix}_desc-lstaiAnnotated_mask.nii.gz" }
                else if (filename.endsWith("__lesion_stats.csv")) { "${prefix}_desc-lstai_stats.csv" }
                else if (filename.endsWith("__annotated_lesion_stats.csv")) { "${prefix}_desc-lstaiAnnotated_stats.csv" }
                else { null }
            }
        ]
    }
}
